@import '../../shared/colors.scss';

.drawer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    border-right: 1px solid $medium-light-grey;
    background-color: $white;
    display: flex;
    flex-direction: column;
    opacity: 1 !important;

    .back {
        height: 24px;
        padding: 8px;
        cursor: pointer;
        user-select: none;
    }

    .items {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        user-select: none;
        

        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 35px;
            font-weight: 500;
            font-size: 14px;
            text-transform: uppercase;
            margin: 0;
            user-select: none;
            outline: none;
            cursor: pointer;

            &:hover {
                background-color: $light1-grey;
            }

            &.active {
                background-color: $light3-grey;
            }
        }
    }

    &.open {
        transition: 400ms;
        left: 0;
    }

    &.closed {
        transition: 400ms;
        left: -300px;
    }
}